[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
huey = "*"

[dev-packages]
pylint = "*"
mypy = "*"
black = "==24.3.0"
pytest = "*"
pytest-django = "*"
pylint-pytest = "*"
pylint-django = "*"

[requires]
python_version = "3.8"
